.banner
  min-height: 453px
  background: image-url('banner-background.jpg')
  margin-top: -60px
  padding-top: 100px
  .text
    @extend .span5
    @extend .pull-left
    padding: 10px
  .video
    @extend .span6
    @extend .pull-right
  .button
    margin-top: 20px

.steps
  .container.steps
    padding: 30px
    .step
      margin-top: 10px
      float: left
      &:before
        content: ""
        width: 60px
        height: 35px
        float: left
        background: image-url('circle.png') no-repeat
        font-size: 48px
        font-family: $satisfyFamily
        color: white
        padding-top: 25px
        text-align: center
      &.one:before
        content: "1"
      &.two:before
        content: "2"
      &.three:before
        content: "3"
