.write-message-header
  margin-top: -73px

.write-message
  .alert.alert-error
    width: 100%
    margin-right: 10px
  .first-column
    @extend .span8
    float: left
  .second-column
    @extend .span4
    float: left

