span.help-block
  color: #999

h1, h2, h3, h4, h5, h6
  font-family: $satisfyFamily


.steps, .project-header, .write-message-header
  +clearfix
  header
    margin-top: 15px
    background: $orange
    text-align: center
    font:
      family: $satisfyFamily
      size: 220%
    color: white

    &:before, &:after
      content: ""
      display: block
      height: 6px
      background: image-url('dot-steps-header.png') repeat-x
    &:before
      border-top: 10px solid $orange
    &:after
      border-bottom: 5px solid $orange
    .container
      padding: 20px
      position: relative
      &:after
        content: ""
        width: 0
        height: 0
        border-left: 20px solid transparent
        border-right: 20px solid transparent
        border-top: 20px solid $orange
        position: absolute
        left: 50%
        bottom: -20px
        margin-left: -10px


