// Responsive
@media (max-width: 979px)
  body
    padding-top: 0
  .navbar-inner
    height: auto
  .banner, .steps
    margin-top: -20px
    padding-top: 10px
    .container
      padding: 10px
    .text, .video
      width: auto !important
      float: none
  .steps .container.steps .step
    float: none
    display: block
    +clearfix
    &:before
      padding-top: 35px

@media (max-width: 768px)
  .banner
    margin:
      left: -20px
      right: -20px

  .project-box
    .details
      float: none
      width: auto !important
    .image
      margin-top: 20px
      float: none
      width: auto !important

