// Responsive
@media (max-width: 979px)
  body
    padding-top: 0
  .navbar-inner
    height: auto

  .banner, .steps
    margin-top: -20px
    padding-top: 10px
    .container
      padding: 10px

  .banner
    .button
      a
        width: 96%

  .steps .container.steps .step
    float: none
    width: 100%
    display: block
    +clearfix
    &:before
      padding-top: 35px

  .write-message-header
    .container.steps
      margin-top: 20px

  .submit-project,
  .become-voluntter,
  footer .share,
  footer .buttons,
  .project .first-column,
  .project .second-column,
  .write-message .first-column,
  .write-message .second-column
    float: none
    width: 100% !important


  .write-message
    .second-column
      margin-left: 0

  footer .share
    text-align: center

  .submit-project, .become-voluntter
    text-align: center
    p
      width: 100% !important

  .become-voluntter
    padding-top: 30px

  .project
    .first-column
      .fb-comments
        margin-top: 40px
    .second-column
      .buttons
        margin-left: 0
        text-align: center

@media (max-width: 768px)
  .banner, .super-footer
    margin:
      left: -20px
      right: -20px

  .project-box
    .image
      margin-top: 20px

  footer
    .super-footer
      .container
        padding: 10px
      .text
        float: none
        .title
          float: none

  .project
    margin-top: 0

  // Margin header
  .project-header, .write-message-header, .profile-header
    margin-top: -35px

  // Clear floats
  .first-column,
  .second-column,
  .project-box .details,
  .project-box .image,
  .banner .text,
  .banner .video
    float: none
    width: 100% !important


// Only for Firefox
@-moz-document url-prefix()
  @media (max-width: 1000px)
    .project-box
      .image
        img
          width: 100%


.banner
  .text
    @media (max-width: 960px)
      font-size: 300%

    @media (max-width: 560px)
      font-size: 200%


@media (max-width: 560px)
  .project-box
    .image
      .scoreboard
        .written, .sent
          height: 57px
          width: 40px
          margin-top: -6px
          padding:
            left: 10px
          .number
            font-size: 22px
          .text
            font-size: 13px
        .sent
          padding:
            right: 10px
        .goal
          height: 73px
          margin-top: -6px
          .number
            font-size: 38px
            height: 20px
          .text
            font-size: 13px
            margin-bottom: 20px

@media (max-width: 1200px)
  .project
    .second-column
      .scoreboard
        .written, .sent
          padding:
            left: 10px
            right: 10px

  .write-message
    .form-inputs
      .button
        .btn-custom
          width: 100% !important


.js-video
  height: 0
  padding-top: 25px
  padding-bottom: 67.5%
  margin-bottom: 10px
  position: relative
  overflow: hidden

  &.widescreen
    padding-bottom: 57.25%
  &.vimeo
    padding-top: 0

  embed, iframe, object, video
    top: 0
    left: 0
    width: 100%
    height: 100%
    position: absolute

  @media (max-width: 767px)
    padding-top: 0
