footer
  +clearfix
  background: white
  padding-top: 50px
  margin-top: 50px

  .share
    @extend .span5
    float: left
  .buttons
    @extend .span7
    float: right
    .submit-project
      @extend .span6
      float: left
    .become-voluntter
      @extend .span6
      float: left


  .super-footer
    .text
      padding-right: 10px
      float: right
      .title
        float: left
        padding-right: 10px
